extends layout

block content
    h1 #{title}
    br
    ul.list-group
    each appointment, i in appointments
        li.list-group-item
            a(href="/doctors/appointment/"+appointment.id)= 'Appointment for: '+ appointment.patientName + ' at: ' + appointment.hour