extends layout

block content
    h1 Edit your profile
    form#appointment_(method='POST', action='/doctors/profile')
        #form-group
            label Email:
            input.form-control(name='email', type='text', value= user.email) 
        #form-group
            label Profile:
            textarea.form-control(name='profile')= user.profile
        #form-group
            label Are you part of a dental office?
            select#appointment_.form-control(form='appointment_', name='dentalOffice')
                option(name='dentalOffice', type='text') None
                each dentalOffice in dentalOffices
                    option(name='dentalOffice', type='text') #{dentalOffice.officeName}
        br
        input.btn.btn-primary(type='submit', value='Submit')