extends layout

block content
    h1 The List of Doctors
    br
    ul.list-group
    each doctor, i in doctors
        h5
            li.list-group-item
                a(href="/patients/doctor/profile/"+doctor._id)= doctor.name