extends layout

block content
    h1 Choose a date then check the available hours
    br
    form#appointment_(method='POST', action='/patients/appointmentChecking')
        #form-group
            label Select a doctor:
            select#appointment_.form-control(form='appointment_', name='doctorName')
                each doctor in doctors
                    option(name='doctorName', type='text') #{doctor.name}
            br
        #form-group
            label Day:
            select#selectDay.form-control(form='appointment_', name='day')
                option(value='31', name='day', form='appointment_', type='text') 31
            br
        #form-group
            label Month:
            select#selectMonth.form-control(form='appointment_', name='month')
                option(placeholder='December', name='month', form='appointment_') December
            br
        #form-group
            label Year:
            select#selectYear.form-control(form='appointment_', name='year')
                option(placeholder='2021', name='year', form='appointment_') 2021
            br
        br
        input.btn.btn-primary(type='submit', value='Check')
        br
    script.
      var selectMonth = document.getElementById("selectMonth"),
        arr = ["January","February","March","April","May","June","July","August","September","October", "November"];
        for(var i = 0; i < arr.length; i++)
        {
        var option = document.createElement("OPTION"),
        txt = document.createTextNode(arr[i]);
        option.appendChild(txt);
        option.setAttribute("value",arr[i]);
        selectMonth.insertBefore(option,selectMonth.lastChild);
        }

        var selectDay = document.getElementById("selectDay");
        for(var i = 1; i < 31; i++)
        {
        var option = document.createElement("OPTION"),
        txt = document.createTextNode(i);
        option.appendChild(txt);
        option.setAttribute("value",i);
        selectDay.insertBefore(option,selectDay.lastChild);
        }

        var selectYear = document.getElementById("selectYear");
        var option = document.createElement("OPTION"),
        txt = document.createTextNode("2020");
        option.appendChild(txt);
        option.setAttribute("value","2020");
        selectYear.insertBefore(option,selectYear.lastChild);