extends layout

block content
    h1 #{title}
    ul.list-group
    each office, i in dentalOffices
        .container
            li.list-group-item
                a(href="/offices/"+office._id)= office.officeName